---
import { PlaylistPlayButton } from '@/components/PlaylistPlayButton';
import PlaylistPageHeader from '@/components/PlaylistPageHeader.astro';
import Layout from '@/layouts/Layout.astro';
import { allPlaylists, songs, type Playlist } from "@/lib/data";
import { SongsTable } from '@/components/SongsTable';

const {id} = Astro.params;

const playlist: Playlist = allPlaylists.find(playlist => playlist.id === id)!;
const playlistSongs = songs.filter(song => song.albumId === playlist?.albumId);
---

<Layout title="Spotify Clone">
	<div id="playlist-container" 
		class="relative flex flex-col h-full transition-all duration-300 z-10">

		<div class="relative z-30 w-full " >
			<PlaylistPageHeader playlist={playlist} transition:name={`playlist ${playlist?.id} box`} />
			
			<section class="z-20 bg-zinc-900/20 my-6 w-full">
				<div class="pl-6 pt-6">
					<PlaylistPlayButton client:load id={id} size="large" />
				</div>
				
				<div class="pl-6 pt-6">
					<SongsTable client:load songs={playlistSongs} />
				</div>
	
			</section>
		</div>

		<div class={`absolute inset-0 mb-12 ${playlist?.color.accent} z-0`}></div>
		<div class="absolute inset-0 mb-12 bg-gradient-to-t from-zinc-900 via-zinc-900/70 to-zinc-900/20 z-0"></div>
		
	
	</div>

</Layout>