---
import { CardPlayButton } from '@/components/CardPlayButton';
import PlaylistPageHeader from '@/components/PlaylistPageHeader.astro';
import Layout from '@/layouts/Layout.astro';
import { allPlaylists, songs, type Playlist } from "@/lib/data";

const {id} = Astro.params;

const playlist: Playlist = allPlaylists.find(playlist => playlist.id === id)!;
const playlistSongs = songs.filter(song => song.albumId === playlist?.albumId);
---

<Layout title="Spotify Clone">
	<div id="playlist-container"
		class="relative flex flex-col h-full overflow-x-hidden transition-all duration-300" transition:name={`playlist ${playlist?.id} box`}>

    <PlaylistPageHeader playlist={playlist} />
		
		<div class="pl-6 pt-6">
      <CardPlayButton client:load id={id} size="large" />
    </div>
		
		<div class="relative z-10 px-6"></div>


		<section>

		</section>

		<div class={`absolute inset-0 mb-12 ${playlist?.color.accent} `}></div>
		<div class="absolute inset-0 mb-12 bg-gradient-to-t from-zinc-900 via-zinc-900/60 "></div>
		
		
	</div>

</Layout>
